<style>
    body { font-family: 'Outfit', sans-serif; }
    .foot_title_new_datail { font-size:20px; text-align:left; color:#AFB700; font-family:'Outfit',sans-serif; font-weight:bold; }
    .foot_title_new { font-size:20px; text-align:left; color:#AFB700; font-family:'Outfit',sans-serif; font-weight:700; text-transform:uppercase; }
    .footer_address_detail { text-align:left; font:normal normal normal 14px/27.5px Outfit; color:#FFFFFF; opacity:.9 !important; font-size:20px; }
    .footer_link { text-align:left; font:normal normal normal 13px/21px Outfit; color:#FFFFFF !important; opacity:1; }
    ul#horizontal-list li a { color:#fff !important; opacity:.9; }
    .footer_info ul li div { width:auto; }
    .footer_info ul li span { font-size:18px; font-weight:600; color:#AFB700; padding-left:15px; }
    .footer_links ul { margin-top:42px; }
    .footer_bar_content { height:auto; }
    .footer_links ul li a { font-size:18px; font-weight:600; color:#fff !important; opacity:.9; }
    .para-justify { text-align:left; }
    .para-justify p { font-size:15px !important; color:#fff; opacity:.9; }
    .footer_bar { background-color:transparent !important; }
    .footer_content { padding-top:83px; padding-bottom:83px; }
    @media screen and (max-width:768px) {
        .footer_address_detail { font-size:20px; }
        .footer_nav ul li a { font-size:12px; }
        .para-justify p { font-size:12px !important; }
    }
</style>
<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 footer_col order-last order-lg-1 pt-5 pt-lg-0">
                    <div class="footer_about">
                        <h4 class="foot_title_new_datail">OFFICE DETAILS</h4>
                        <div class="row mt-2 mt-lg-5">
                            <div class="col-md-3 p-lg-0">
                                <div class="footer_logo"><a href="#"><img src="/images/about-us/logo.png" alt="Urban Village Homes" style="height:75px;"/></a></div>
                            </div>
                            <div class="col-md-9 p-0">
                                <p class="footer_address_detail col-md-7 p-lg-0">121 Denmark Hill London, SE5 8EN</p>
                            </div>
                        </div>
                        <div class="footer_info">
                            <ul>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><svg xmlns="http://www.w3.org/2000/svg" fill="#AFB700" viewBox="0 0 512 512" style="width:20px;margin-top:11px"><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg></div>
                                    <div><span><a href="mailto:info@urbanvillagehomes.com"> info@urbanvillagehomes.com</a></span></div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div><svg xmlns="http://www.w3.org/2000/svg" fill="#AFB700" viewBox="0 0 512 512" style="width:20px;margin-top:11px"><path d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z"/></svg></div>
                                    <div><span><a href="tel:02035199121">020 3519 9121</a></span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="social social-2 ml-0" style="margin-top:-2px;">
                            <br />
                            <ul class="d-flex flex-row align-items-center justify-content-start ml-0 mt-3 mb-5">
                                <li class="instagram-icon pt-0"><a href="https://www.instagram.com/urbanvillagehomes/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li class="facebook-icon"><a href="https://www.facebook.com/urbanvillagehomes"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="para-justify">
                            <p>Urban Village is a trading name of Urban Village Homes Limited</p>
                            <p>Registered address: 121 Denmark Hill, London, SE5 8EN <br> Telephone: 020 3519 9121 | Email: info@urbanvillagehomes.com</p>
                            <p>Company registration number: 09523009 registered in England and Wales | VAT no. 211 010 205</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 footer_col d-flex justify-content-lg-center order-lg-1">
                    <div class="footer_links">
                        <h4 class="footer_title foot_title_new">AREAS WE COVER</h4>
                        <ul>
                            <li><a class="footer_link" href="/camberwell">Camberwell</a></li>
                            <li><a class="footer_link" href="/herne-hill">Herne Hill</a></li>
                            <li><a class="footer_link" href="/denmark-hill">Denmark Hill</a></li>
                            <li><a class="footer_link" href="/dulwich">Dulwich</a></li>
                            <li><a class="footer_link" href="/brixton">Brixton</a></li>
                            <li><a class="footer_link" href="/peckham">Peckham</a></li>
                            <li><a class="footer_link" href="/stockwell">Stockwell</a></li>
                            <li><a class="footer_link" href="/waterloo">Waterloo</a></li>
                            <li><a class="footer_link" href="/loughborough-junction">Loughborough Junction</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 footer_col d-flex justify-content-lg-end order-lg-1 pt-5 pt-lg-0">
                    <div class="footer_links">
                        <h4 class="footer_title foot_title_new">USEFUL LINKS</h4>
                        <ul>
                            <li><a class="footer_link" href="/contact">Contact Us</a></li>
                            <li><a class="footer_link" href="/book-a-valuation">Book a valuation</a></li>
                            <li><a class="footer_link" href="/blog">Blog</a></li>
                            <li><a class="footer_link" href="/new-aboutus">About Us</a></li>
                            <li><a class="footer_link" href="/privacy-policy">Privacy Notice</a></li>
                            <li><a class="footer_link" href="/terms-and-condition">Terms and Conditions</a></li>
                            <li><a class="footer_link" href="/complaints-procedure">Complaints Procedure</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bar mt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content py-2">
                        <nav class="footer_nav order-md-2 order-1 ml-md-auto">
                            <ul id="horizontal-list" class="d-flex flex-column flex-md-row justify-content-between text-white">
                                <li><a href="#">&copy; Copyright <%= new Date().getFullYear() %></a></li>
                                <li><a href="/complaints-procedure">Complaints Procedure</a></li>
                                <li><a href="/privacy-policy">Privacy Notice</a></li>
                                <li><a href="/terms-and-condition">Terms and Conditions</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/css/bootstrap-4.1.2/popper.js"></script>
<script src="/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= process.env.GOOGLE_MAPS_KEY || '' %>"></script>
<script src="/js/custom.js"></script>
<script src="/js/jquery.cookiebar.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.cookieBar({ message: "We use cookies to track usage and preferences.", acceptText: "I Understand", policyButton: true, policyText: "About Cookies", policyURL: '/cookie-policy', effect: 'slide' });
        var owl = $('#about-us-carousel').owlCarousel({ loop:true, margin:10, nav:false, autoplay:true, autoplayHoverPause:true, responsive:{ 0:{items:1}, 600:{items:1}, 1000:{items:5} } });
        $('.custom-next').click(function(){ owl.trigger('next.owl.carousel'); });
        $('.custom-prev').click(function(){ owl.trigger('prev.owl.carousel',[300]); });
    });
</script>
<script src="/js/extra/plugins.js"></script>
<script src="/js/extra/classy-nav.min.js"></script>
<script src="/js/extra/active.js"></script>
<% if (typeof js_files !== 'undefined') { js_files.forEach(function(f) { %>
    <script src="/js/<%= f %>.js"></script>
<% }); } %>
</body>
</html>
