<div class="hot logo-spinner" style="margin-bottom:-32px;">
    <div class="container">
        <div class="carousel-wrap">
            <div class="owl-carousel" id="about-us-carousel">
                <div class="item"><a href="https://www.hometrack.com/uk" target="_blank"><img src="/images/logo/hometrackx.png" class="img-responsive"></a></div>
                <div class="item"><a href="https://www.primelocation.com" target="_blank"><img src="/images/logo/primelocationx.png" class="img-responsive"></a></div>
                <div class="item"><a href="https://www.rightmove.co.uk/" target="_blank"><img src="/images/logo/rightmove-colour.svg" class="img-responsive"></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/Tenant.png" class="img-responsive" /></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/arla-colour.svg" class="img-responsive" /></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/zoopla-colour.svg" class="img-responsive" /></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/jupixx.png" class="img-responsive"></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/ctsi.png" class="img-responsive"></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/ombustman.png" class="img-responsive"></a></div>
                <div class="item"><a href="" target="_blank"><img src="/images/logo/TLP Assured - Colour.png" class="img-responsive"></a></div>
            </div>
        </div>
        <div class="custom-nav d-none d-lg-block">
            <span class="custom-prev d-none d-md-block"><img src="/images/icons/left-chevron.png"></span>
            <span class="custom-next d-none d-md-block"><img src="/images/icons/right-chevron.png"></span>
        </div>
    </div>
</div>
