<%- include('../includes/header', { page_title: 'Server Error', css_files: [], js_files: [] }) %>
<div class="container text-center" style="padding: 100px 0;">
    <h1>500 - Server Error</h1>
    <p>Something went wrong. Please try again later.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
<%- include('../includes/footer', { js_files: [] }) %>
