<%- include('../includes/header') %>

<div aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Areas</li>
    </ol>
</div>

<div class="intro">
    <div class="container">
        <div class="row row-eq-height move_up_top-2">
            <div class="col-lg-12">
                <div class="section_title_container">
                    <br/><br/>
                    <h1 class="main-title">Areas</h1>
                    <p class="empty-pr">&nbsp;</p>
                    <div class="header_title_border header_title_border-sml"></div>
                </div>
                <div class="intro_content">
                    <div class="intro_text">
                        <p>At Urban Village estate agency, we are ideally placed to help you with your South London property search, whether it is for a family home, buy-to let investment or shared rental accommodation.
                            <br/><br/>We <strong>live</strong>, we <strong>work</strong> and we <strong>know</strong> South London it's our home. We love the area and we <strong>understand the market.</strong>
                            <br/>We are constantly selling and letting properties in and around the local area and we are confident that whatever your search requirements, we will be able to help.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-xl-7">
            <iframe
                width="100%"
                height="500"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/view?key=&center=51.459676252148626,-0.09138211987306022&zoom=13">
            </iframe>
        </div>
        <div class="col-xl-5">
            <div class="map_section_content map_section_content-phone" style="padding:20px;">
                <p>Please click on the link below and if you have a local business you love and would like it to feature in one of our guides; give us a shout at info@urbanvillagehomes.com</p>
                <ul class="list-unstyled mt-4">
                    <li><a href="/herne-hill"><i class="fa fa-map-marker color-green"></i> Herne Hill</a></li>
                    <li><a href="/brixton"><i class="fa fa-map-marker color-green"></i> Brixton</a></li>
                    <li><a href="/peckham"><i class="fa fa-map-marker color-green"></i> Peckham</a></li>
                    <li><a href="/dulwich"><i class="fa fa-map-marker color-green"></i> Dulwich</a></li>
                    <li><a href="/loughborough-junction"><i class="fa fa-map-marker color-green"></i> Loughborough Junction</a></li>
                    <li><a href="/camberwell"><i class="fa fa-map-marker color-green"></i> Camberwell and Denmark Hill</a></li>
                    <li><a href="/stockwell"><i class="fa fa-map-marker color-green"></i> Stockwell</a></li>
                    <li><a href="/waterloo"><i class="fa fa-map-marker color-green"></i> Waterloo</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer') %>
